################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Debug
.vs
/2014-15/ACSLBall/.vs/ACSLBall/v15
